:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	--black-color:  #030303;
	--gray-color:rgb(132, 132, 132);
	--gray-light-color: rgb(183, 183, 183);
	--green-color: #098409;
	--red-color: #ff100f;
	--white-color: #ffffff;
}